.form1{
    width: 600px;
    height: 400px;
    text-align: center;
    margin: 100px auto;
    border: 2px solid;
    background-color: #fbaaaa;
}
.res{
    margin-top: 50px;
}
.inputs{
    padding: 2px;
    margin: 50px;
    margin: 0px opx 4px 4px;
    text-align: center;
}
input{
    text-align: center;
}
button{
    width: 100px;
    margin-top: 40px;
}