*{
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
.header{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rm;
}
.header ul{
    width: 400px;
    list-style-type: none;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
   
}
.header img{
padding: 5px;
}
body{
    min-height: 100vh;
}
.footer{
    display: flex;
    align-content: end;
}